
#carruselContainer,
#texto-descripcion {
  visibility: hidden;
}
/*------------------general---------------*/
hr{
  color:azure;
}
body{
  display: block;
}
*{
  border-radius:10px;
  margin:2px;
  
}
/*-------------header-------------------*/

#Banner{
  border-radius:10px;
  margin:2px;
  background-image: url('Images/Banner.svg');
  background-size:cover;
  height:30%;
  display:flex;
  justify-content: center;
  align-items: center;
}
#MyProfilePhoto{
    width: 20%;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      border: 4px solid azure;
  display: inline-block;
      filter: drop-shadow(8px 8px 4px #433B67);
  }
 #Title{
   display: inline-block;
 }
  .myphoto{
    width: 100%;
    height: 100%;
    object-fit:cover;
    margin-bottom: 2%;
  }

/*------------------About---------------*/
.about{
  height:135vh;
  background-color:#605885; 
}

#tituloProyecto{
  color:azure;
  margin-top: auto;
}
 #texto-descripcion_2{
    height:80vh;
     color:yellow;
     position: absolute;
     top: 10%;
     left: 2%; 
     text-shadow: 2vh 2vh 0.5vh rgba(0, 0, 0, 0.5);
     width: 100%;
     font-size: 1.1vw; 
     overflow: hidden;
     text-overflow: ellipsis; 
     line-height: 1.5;
     font-family: Consolas, monaco, monospace;
   }


.computer {
  position: relative;
  height:40%;
  width:70%;
  color: azure;
  margin-left:15%;

}
.computer img{
  object-fit: contain;
  filter: drop-shadow(8px 8px 4px #433B67);
}
/*------------------Skills---------------*/
#skills {
  display: flex;
  height:10%;
  align-items: center; 
  justify-content: center;

}

.MyskillsContent {
  height:10vh;
  width:10vh;
  margin: 10px;
  display: inline-block;
}

.MyskillsContent img {
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
  filter: drop-shadow(8px 8px 4px #433B67);
}



.transition-opacity {
    transition: opacity 5s ease-in-out;
}
/*------------------Proyects-----------------*/
.proyects{
  height:135vh;
}
#ProyectsSidebar{
  width:25%;
  margin-left:12px;
  background-color:#433B67; 
  background-size:cover;
  font-size:  1.1vw; 
  color:azure;

}

#ProyectsBody{
  width:73%;
  background-color:#605885; 
  
    
}
#carruselContainer{
  width:80%;
  height:80%;
  margin-top:10%;
  margin-left:10%;
}
#texto-descripcion{
  color: azure;
  height:40vh;
  top: 90%;
  left: -15%;
  font-size: 1.1vw; 
  overflow: hidden;
  text-overflow: ellipsis; 
  font-family:Consolas, monaco, monospace;
}
.bi , .me-2{
  margin-top:15vh;
  }

/*------------------ContactMe---------------*/
.contact{
  height:135vh;
  background-color:#605885;
  display:block;
  justify-content: center;
  align-items: center;
}
#MyFormBack{
 
  height :70%;
  width : 50%;
  margin-left:25%;
  
  color: azure;
   background-color :#948DB3; 
   justify-content: center;
   box-shadow: 5px 5px 15px gray;
   margin-bottom:2%;
}
#formulario{
  margin:10%; 
  justify-content: flex-start;
}
#btnsend{
  background-color:transparent;
  border: 1px solid azure;
  color: azure;
  width: 40%;
}

/*------------Responsive-----------*/
@media(max-width: 1122px){
  #ProyectsBody{
  width:71%;
 
  
      
} 
     .about{
    height:150vh;
     }
  .computer {
    
  

  width:100%;
  color: azure;
  margin-left:0%;

  }
    #texto-descripcion_2{
  
    font-size: 1.5vw; 
  
  }
}
  @media(max-width: 900px)
{
    .about{
    height:150vh}
   #texto-descripcion_2{
  
    font-size: 1.4vw; 
    margin-left:0%;
  
  }
  
}
  
@media(max-width: 520px)
{
   .about{
    height:90vh;
  }
  
  .proyects{
    height:70vh;
  }
  .contact{
    height:100vh;
  }
 
  .computer {
    
  position: relative;

  width:100%;
  color: azure;
  margin-left:0%;

  }

  #texto-descripcion{
  
    font-size: 3vw; 
  
  }
  #ProyectsSidebar{

    font-size:3vw;

  }
  #MyFormBack{
  margin-left:7.5%;
  height :80%;
  width : 85%;


}

#ProyectsBody{
  width:68%;
 
  
      
} 
}
